<div class="content">
    <h1></h1>
    <p></p>

</div>
<table>
        <tr class="head">
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Специальность</th>
            <th>Дата подачи документов</th>
        </tr>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>Иванович</td>
            <td>Наладчик компьютерных сетей</td>
            <td>1 июля 2021</td>
        </tr>
        <tr class="even">
            <td>Иванов</td>
            <td>Иван</td>
            <td>Иванович</td>
            <td>Наладчик компьютерных сетей</td>
            <td>1 июля 2021</td>
        </tr>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>Иванович</td>
            <td>Наладчик компьютерных сетей</td>
            <td>1 июля 2021</td>
        </tr>
        <tr class="even">
            <td>Иванов</td>
            <td>Иван</td>
            <td>Иванович</td>
            <td>Наладчик компьютерных сетей</td>
            <td>1 июля 2021</td>
        </tr>
    </table>