<div class="content">
    <h1>Наш фрэймворк</h1>
    <p>Текст заголовка 1</p>
    <form action="" method="post">
        <fieldset>
            <legend>Зарегистрируйтесь</legend>
            <p>
                <label class="title" for="name">Ваше имя</label>
                    <input type="text" name="name" id="name"><br />
                <label class="title" for="email">Ваш емайл:</label>
                    <input type="text" name="email" id="email">
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="Регистрация"></div>
    </form>
</div>
