<div class="content">
    <h1>Форма обратной связи</h1>
    <form action="" method="post">
        <fieldset>
            <legend>Отправьте нам сообщение</legend>
            <p>
                <label class="title" for="name">Ваше имя</label>
                    <input type="text" name="name" id="name"><br />
                <label class="title" for="email">Ваш емайл:</label>
                    <input type="text" name="email" id="email">
                <label class="mess" for="mess">Ваше сообщение:</label>
                    <textarea id="mess" name="mess" cols="30" rows="4" placeholder="Введите сообщение"></textarea>
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="Отправить"></div>
    </form>
</div>
